node_modules
bower_components
typings
.vs
.vscode
.vs
*.jsproj
*.csproj
*.sln
dist
.DS_Store
.thumbsdb
.ThumbsDB
*.rdb
*.log
*.swp
src/main.js
src/logs/
src/cache/
*.log
src/logs/*
npm-debug*
*.map
./index.js
src/modules/
src/archportal-interface

